{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", {"afterColon": true}],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "warn",
    "space-before-function-paren": "error"
  }
}